@media (max-width: 991px) {
  .container {
    padding: 0 30px 0 30px;
  }
  .carousel {
    &__inner{
      width: 100%;
    }

    .slick-dots {
      display: flex !important;
      justify-content: center;
      align-items: center;
      padding: 0;
      .slick-active button {
        background-color: #555;
      }
    }

    .slick-dots li {
      list-style: none;
      margin: 0 5px;
    }
  
    .slick-dots button {
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: #d0d0d0;
      border-radius: 50%;
      padding: 0;
      border: none;
    }
  }
  .catalog__content_active {
      justify-content: center;
      .catalog-item {
        margin: 10px 15px;
      }
    }
}

@media (max-width: 852px) {
  .consultation {
    .title {
      font-size: 30px;
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 767px) {
  .header {
    &__official {
      font-size: 10px;
      span {
        font-size: 14px;
      }
    }
    &__phone {
      font-size: 16px;
    }
  }
  .promo {
    min-height: 610px;
    padding: 21px 15px 70px 15px;
    &__wrapper {
      align-items: center;
      margin-top: 65px;
    }
    &__header {
      font-size: 40px;
    }
    &__subheader {
      margin-top: 12px;
      text-align: center;
    }
    &__icons {
      margin-top: 45px;
    }
  }
  .button_main {
    margin-top: 55px;
  }
  .advantages {
    padding: 50px 0 60px 0;
    &__header {
      margin-bottom: 50px;
    }
    &__item
      img {
        margin-bottom: 30px;
      }
  }
  .consultation {
    .title {
      font-size: 26px;
    }
  }
  .catalog__tab {
    font-size: 16px;
  }
}

@media (max-width: 665px) {
  .header__official {
    display: none;
  }

  .promo__subheader {
    font-size: 22px;
  }

  .advantages__items {
    flex-direction: column;
    align-items: center;
  }
  .advantages__item {
    width: 320px;
    margin-bottom: 20px;
    span {
      margin-bottom: 20px;
    }
    img {
      margin-bottom: 20px;
    }
  }
  .consultation {
    padding: 60px 0 50px 0;
    min-height: 600px;
    .title {
      font-size: 22px;
      margin-bottom: 30px;
    }
    &__descr {
      font-size: 16px;
      margin-bottom: 15px;
    }
    .button {
      width: 100%;
      height: 50px;
    }
  }
}

@media (max-width: 576px) {
  .promo__header {
    font-size: 30px;
  }
  .promo__subheader {
    font-size: 16px;
    margin-top: 0;
  }

  .advantages__header {
    font-size: 28px;
    margin-bottom: 40px;
  } 

  .consultation {
    min-height: 510px;
    &__descr,
    .title {
      text-align: center;
    }
    .feed-form {
      margin: 0 auto;
    }
  }
  
  .catalog {
    .title  {
      font-size: 28px;
      margin-bottom: 40px;
    }
    &__tab {
      font-size: 12px;
      font-weight: 500;
    }
  }
  .reviews {
    .title  {
      font-size: 28px;
      margin-bottom: 40px;
    }
    &__item {
      flex-direction: column;
      align-items: center;
      text-align: center;
      img {
        margin: 0;
        margin-bottom: 20px;
      }
    }
    &__descr {
      padding: 0 5px;
    }
  }
}

@media (max-width: 460px) {
  .header {
    
    &__logo {
      max-width: 200px;
      margin-right: 15px;
    }
    &__contacts {
      align-items: center;
    }
    &__phone {
      font-size: 14px;
    }
  }
  .promo {
    min-height: 506px;
    &__wrapper {
      margin-top: 45px;
    }
    &__header {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
    }
    &__subheader {
      font-size: 12px;
      margin-top: 0;
      text-align: center;
    }
    &__icons {
      justify-content: center;
      width: 100%;
    }
    &__item {
      width: 98px;
      font-size: 12px;
    }
    &__link {
      font-size: 12px;
      margin-top: 12px;
    }
  }
  .button {
    width: 136px;
    height: 28px;
    &_main {
      width: 200px;
      height: 34px;
      margin-top: 40px;
      font-size: 12px;
    }
  }
  .advantages {
    padding: 40px 0 35px 0;
    &__header {
      font-size: 20px;
      margin-bottom: 32px;
    }
  }
  .consultation {
    padding: 30px 0 25px 0;
    min-height: 500px;
    .container {
      padding: 0 10px;
    }
    .title {
      font-size: 18px;
      margin-bottom: 16px;
    }
    &__descr {
      font-size: 14px;
    }
    .feed-form {
      margin-top: 30px;
    }
  }
  .catalog {
    &__tab {
      div {
        font-size: 8px;
      }
    }
  }
  .footer {
    .footer__info {
      padding: 40px;
      width: 100%;
      height: 230px;
      .footer__addr {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 18px;
      }
      .footer__phone {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }
  .modal {
    width: 90%;
    padding: 30px 15px;
    &__subtitle {
      font-size: 16px;
    }
    &__descr {
      font-size: 12px;
    }
    &__close {
    top: 8px;
    right: 8px;
    }
    .feed-form {
      width: 100%;
    }
    .button_submit {
      width: 100%;
      height: 50px;
    }
  }

}